$color_black: #0f0f0f;
$color_relentlessly-red: #ff0055;
$color_white-snow: #ffffff;
$color_relentlessly-red-low: #ff00556b;
$color_dark-grey: #131313;
$color_dark-grey-low: #131313df;
$color_ts: #3178c6;
$color_react: #61dafb;
$color_tmdb: #01b4e4;
$color_kinopoisk: #ff6600;
$color_github: #c0c0c0;
$color_deep-black: #000000;
$color_very-low-black: #00000023;
